body {
    background-color: whitesmoke;
    margin: 0px;
  }
  .navigation {
    font-family: FreeMono, monospace;
    background-color: darkgrey;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
  }
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
}
.topmenu:after {
  display: table;
  clear: both;
}
.topmenu > li {
  float: left;
  position: relative;
  top: 0px;
  font-family: FreeMono, monospace;
}
.topmenu > li > a {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none; 
  padding: 5px 50px;
}
.topmenu li a:hover { color: palegoldenrod; }
.submenu-link1:after {
  content: "";
  font-family: FreeMono, monospace;
  color: inherit;
  margin-left: 15px;
}
.submenu1 {
  background: gray;
  position: relative;
  left: 15%;
  top: 100%;
  z-index: 5;
  width: 175px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
  line-height: 30px;
  padding: 0 15px;
}
.submenu1 a {
  color: white;
  font-size: 17px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  text-decoration: none;
}
.submenu1 li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu1 {
  opacity: 1;
  transform: scaleY(1);
}
/*ниже для Login*/
submenu-link2:after {
  content: "";
  font-family: FreeMono, monospace;
  color: inherit;
  margin-left: 15px;
}
.submenu2 {
  background: gray;
  position: relative;
  left: 15%;
  top: 100%;
  z-index: 5;
  width: 90px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
  line-height: 30px;
  padding: 0 15px;
}
.submenu2 a {
  color: white;
  font-size: 17px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  text-decoration: none;
}
.submenu2 li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu2 {
  opacity: 1;
  transform: scaleY(1);
}
    #intro1 {
    text-align: center;
    font-family: FreeMono, monospace;
    font-size: 45px;
    margin-top: 0vw;
  }
  .olive {
    width: 25%;
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 7px; /* Отступы вокруг картинки */
    position: relative;
  }
  .summary {
    font-family: FreeMono, monospace;
    margin: 0px 7px 0px 7px;
  }
  .preamble {
    font-family: FreeMono, monospace;
    box-sizing: border-box;
    padding-bottom: 390px;
    margin: 0px 7px 0px 7px;
  }
  p:first-letter {
    font-family: "Times New Roman", Times, serif; 
    font-size: 150%; 
    color: green; 
  }
  #login {
    font-family: FreeMono, monospace;
  }
  #footer {
    position: static;
    text-align: center;
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: darkgrey; /* Цвет фона */
    color: whitesmoke; /* Цвет текста */
    font-family: FreeMono, monospace;
   }
   .icons {
    margin-top: 5px;
    margin-bottom: 0px;
    position: relative;
   }
   i {
    text-decoration: none;
    color: whitesmoke;
   }
   div #mobile {
    visibility: hidden;
   }
   .dropbtn {
    visibility: hidden;
   }
   #myDropdown {
    visibility: hidden;
   }

   @media screen and (min-width: 0px) and (max-width: 850px) {
    .navigation {
   visibility: hidden;
   display: none;
  }
  #intro1 {
    text-align: center;
    font-family: FreeMono, monospace;
    font-size: 18px;
    margin-top: 4vw;
    margin-bottom: : 2vw;
  }
  .summary {
    font-size: 14px;
    font-family: FreeMono, monospace;
    margin: 0px 7px 0px 7px;
  }
  .preamble {
    font-family: FreeMono, monospace;
    padding-bottom: 350px;
    font-size: 14px;
    margin: 0px 7px 0px 7px;
  }

  #mobile {
    visibility: visible;
    position: static;
    float: left;
  }
  div #mobile {
    visibility: visible;
   }
   .dropbtn {
    visibility: visible;
   }
   #myDropdown {
    visibility: visible;
   }
  .menu__item {
    visibility: hidden;
  }
  .dropbtn {
  background-color: darkgrey;
  color: whitesmoke;
  padding: 16px;
  font-size: 25px;
  font-family: FreeMono, monospace;
  width: 100vw;
  border: none;
  cursor: pointer;
}
.dropbtn:hover {
  background-color: darkgrey;
} 
.dropdown {
  position: static;
  display: inline-block;
  margin: 1vw 1vw 1vw 1vw;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: FreeMono, monospace;
  text-align: center;
  width: 100vw;
  margin-bottom: 2vw;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: 0.5px solid silver;
}
.dropdown-content a:hover {background-color: lightgrey} 
.show {display:block;} 
.olive {
    width: 25%;
    height: auto;
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 7px; /* Отступы вокруг картинки */
    position: relative;
  }
} 
