[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpie = "*"
pytest = "*"
selenium = "*"

[packages]
django = "*"
pudb = "*"
utils = "*"
fontawesome = "*"

[requires]
python_version = "3.6"
